@font-face {
	font-family: 'Helvetica Neue';
	src: local('Helvetica Neue Black Condensed'), local('Helvetica-Neue-Black-Condensed'),
		url('../fonts/HelveticaNeue-CondensedBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: 'Helvetica Neue';
	src: local('Helvetica Neue Bold'), local('Helvetica-Neue-Bold'),
		url('../fonts/HelveticaNeue-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'Helvetica Neue';
	src: local('Helvetica Neue Medium'), local('Helvetica-Neue-Medium'),
		url('../fonts/HelveticaNeue-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Helvetica Neue';
	src: local('Helvetica Neue'), local('Helvetica Neue'),
		url('../fonts/HelveticaNeue.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'Helvetica Neue';
	src: local('Helvetica Neue Light'), local('Helvetica-Neue-Light'),
		url('../fonts/HelveticaNeue-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@media all {
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0px solid grey;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
}

/*Start of code*/
/*New code section - code separation label*/ 

@media (min-width: 1200px) {
body {
	margin: 0 auto;
	background: linear-gradient(180deg, rgba(26, 26, 26, 0.0001) 0%, #1A1A1A 100%), linear-gradient(0deg, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url(../images/main_background.jpg), #1A1A1A;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 1440px 1080px;
}

.wrapper {
	width: 1110px;
    margin: 0 auto;
	font-family: Helvetica Neue;
}

header {
	display: flex;
	height: 90px;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	width: 208px;
	height: 25px;
	background: url(../images/logo.svg) no-repeat;
	align-items: center;

}

.site_name {
	display: flex;
	font-family: Helvetica Neue;
    align-items: center;
    margin-left: 34px;
    text-transform: uppercase;
	color: #34C759;
	margin-top: 8px;
}

#header_navigation {
    display: flex;
    justify-content: space-between;
}

#header_navigation li {
    display: inline-flex;
}

#header_navigation li a {
	margin-left: 35px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 90px;
	color: #FFFFFF;
	text-decoration: none;
	transition: 0.3s;
	animation-timing-function: ease-out;
}

#header_navigation li a:hover {
	color: #34C759;
}

.decorative_line {
	height: 2px;
	background: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.1;
}
}

@media (max-width: 1199px) {
	body {
		margin: 0 auto;
		background: linear-gradient(180deg, rgba(26, 26, 26, 0.0001) 0%, #1A1A1A 100%), linear-gradient(0deg, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url(../images/main_background.jpg), #1A1A1A;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 1440px 1080px;
	}

	.wrapper {
		width: calc(100% - 1rem);
		margin: 0 auto;
		padding: 0 0.5rem;
	}
	
	header {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	
	.logo {
		display: flex;
		width: 208px;
		height: 25px;
		background: url(../images/logo.svg) no-repeat;
		align-items: center;
		margin-top: 10px;
	}
	
	.site_name {
		display: flex;
		font-family: Helvetica Neue;
		align-items: center;
		text-transform: uppercase;
		color: #34C759;
		margin-left: 34px;
		margin-top: 8px;
	}
	
	#header_navigation {
		display: flex;
		justify-content: space-around;
	}
	
	#header_navigation li {
		display: inline-flex;
	}
	
	#header_navigation li a {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 90px;
		color: #FFFFFF;
		text-decoration: none;
		margin: 8px;
	}
	
	#header_navigation li a:hover {
		color: #34C759;
	}
	
	.decorative_line {
		height: 2px;
		background: #FFFFFF;
		mix-blend-mode: normal;
		opacity: 0.1;
	}
}

/* New code section */

@media (min-width: 1200px) {
.slogan_section {
	display: flex;
	flex-direction: column;
}

.slogan {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.slogan h1 {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 300;
	font-size: 72px;
	line-height: 87px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: capitalize;
	color: #FFFFFF;
	margin-top: 80px;
}

.slogan b {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 72px;
	line-height: 87px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: capitalize;
	color: #FFFFFF;
}

.slogan p {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: -0.2px;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.7;
	width: 595px;
	margin: 10px auto 50px;
}

.slogan a {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 220px;
	height: 72px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.2em;
	color: #1A1A1A;
	background: #34C759;
	border-radius: 43px;
	text-decoration: none;
	transition: 0.3s;
	animation-timing-function: ease-out;
}

.slogan a:hover {
	color: #FFFFFF;
}

.header_communication {
	display: flex;
	margin-top: 100px;
	justify-content: space-around;
}

.communication_children {
	display: flex;
	width: 245px;
	flex-direction: column;
	align-items: center;
}

.communication_children strong {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 18px;
}

.communication_children p {
	max-width: 245px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.5;
}
}

@media (max-width: 1199px) {
	.slogan_section {
		display: flex;
		flex-direction: column;
	}
	
	.slogan {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 20px;
		margin: 0 auto;
	}
	
	.slogan h1 {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 300;
		font-size: 40px;
		line-height: 40px;
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: capitalize;
		color: #FFFFFF;
		margin-top: 40px;
	}
	
	.slogan b {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 40px;
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: capitalize;
		color: #FFFFFF;
	}
	
	.slogan p {
		font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		letter-spacing: -0.2px;
		color: #FFFFFF;
		mix-blend-mode: normal;
		opacity: 0.7;
		margin: 10px auto 50px;
	}
	
	.slogan a {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 220px;
		height: 72px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		letter-spacing: 0.2em;
		color: #1A1A1A;
		background: #34C759;
		border-radius: 43px;
		text-decoration: none;
	}
	
	.slogan a:hover {
		color: #FFFFFF;
	}
	
	.header_communication {
		display: flex;
		margin-top: 100px;
		justify-content: space-around;
	}
	
	.communication_children {
		display: flex;
		width: 245px;
		flex-direction: column;
		align-items: center;
	}
	
	.communication_children strong {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		color: #FFFFFF;
		margin-top: 18px;
	}
	
	.communication_children p {
		max-width: 245px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		align-items: center;
		text-align: center;
		color: #FFFFFF;
		mix-blend-mode: normal;
		opacity: 0.5;
	}
	
	@media (max-width: 635px) {
		.header_communication {
			display: flex;
			margin-top: 100px;
			flex-direction: column;
			margin: 20px auto 0;
		}
		
		.communication_children {
			display: flex;
			width: 245px;
			flex-direction: column;
			align-items: center;
			margin-top: 40px;
		}
		
		.communication_children strong {
			font-family: Helvetica Neue;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 30px;
			text-align: center;
			color: #FFFFFF;
			margin-top: 18px;
		}
	}
}	

/* New code section */

@media (min-width: 1200px) {
.about_healthy_food {
	display: flex;
	flex-direction: column;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	padding: 50px 0 80px 0;
	margin-top: 80px;
}

.about_healthy_food_header {
	display: flex;
	flex-direction: column;
	height: 175px;
	align-items: center;
}

.about_healthy_food_header strong {
	display: flex;
	position: relative;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 60px;
	letter-spacing: 0.2em;
	color: #D9D9D9;
	margin-top: 55px;
	z-index: 2;
	text-transform: capitalize;
}

.about_healthy_food_header h2 {
	display: flex;
	position: absolute;
	overflow: hidden;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 100px;
	line-height: 150px;
	letter-spacing: 0.2em;
	color: #303030;
}

.about_healthy_food_header p {
	display: flex;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	color: #A6A6A6;
	max-width: 734px;
	margin-top: 50px;
	margin-bottom: 100px;	
}

.healthy_food_pictures {
	display: block;
	position: relative;
	margin-top: 150px;
	padding: 0 25px;
}

.healthy_food_pictures_img img {
	width: 350px;
	height: auto;
}

.slick-slider {
    margin: 0 100px;
}

.slick-slide {
    margin-right: 30px;
    margin-left: 30px;
}

#healthy_food_pictures_left_button {
	position: absolute;
	top: 45%;
	left: 0;
    display: block;
	width: 60px;
	height: 60px;
	background: url(../images/hfp_left_button.svg);
	border: none;
	border-radius: 50%;
	margin-left: 50px;
}

#healthy_food_pictures_left_button:hover {
	cursor: pointer;
	background: no-repeat center/56px url(../images/hfp_left_button.svg);
}

#healthy_food_pictures_right_button {
	position: absolute;
	top: 45%;
	right: 0;
    display: block;
	width: 60px;
	height: 60px;
	background: url(../images/hfp_right_button.svg);
	border: none;
	border-radius: 50%;
	margin-right: 50px;
}

#healthy_food_pictures_right_button:hover {
	cursor: pointer;
	background: no-repeat center/56px url(../images/hfp_right_button.svg);
}
}

@media (max-width: 1199px) {
	.about_healthy_food {
		display: flex;
		flex-direction: column;
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		padding: 10px 20px 20px 20px;
		margin-top: 80px;
	}

	.about_healthy_food_header {
		display: flex;
		position: relative;
		flex-direction: column;
		height: 175px;
		align-items: center;
		margin-top: 50px;
	}

	.about_healthy_food_header strong {
		display: flex;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.2em;
		color: #D9D9D9;
		z-index: 2;
		text-transform: capitalize;
		text-align: center;
		margin-top: 30px;
	}

	.about_healthy_food_header h2 {
		display: flex;
		position: absolute;
		overflow: hidden;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 75px;
		line-height: 75px;
		letter-spacing: 0.2em;
		color: #303030;
		margin: 0px auto 0;
	}

	.about_healthy_food_header p {
		display: flex;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		color: #A6A6A6;
		max-width: 734px;
		margin-top: 50px;	
	}

	.healthy_food_pictures {
		display: flexbox;
		position: relative;
		margin-top: 150px;
		padding: 0 25px;
	}
	
	.healthy_food_pictures_img a img {
		width: 350px;
		height: auto;
		margin: 0 auto;
	}

	@media (max-width: 600px) {
		.healthy_food_pictures_img a img {
			width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}

	.slick-slider {
		margin: 0;
	}

	.slick-slide {
		margin-right: 30px;
		margin-left: 30px;
	}

	#healthy_food_pictures_left_button {
		position: absolute;
		top: 45%;
		left: 0;
		display: block;
		width: 30px;
		height: 30px;
		background: url(../images/hfp_left_button.svg);
		background-size: contain;
		border: none;
		border-radius: 50%;
	}
	
	#healthy_food_pictures_left_button:hover {
		cursor: pointer;
		background: no-repeat center/56px url(../images/hfp_left_button.svg);
	}
	
	#healthy_food_pictures_right_button {
		position: absolute;
		top: 45%;
		right: 0;
		display: block;
		width: 30px;
		height: 30px;
		background: url(../images/hfp_right_button.svg);
		background-size: contain;
		border: none;
		border-radius: 50%;
	}
	
	#healthy_food_pictures_right_button:hover {
		cursor: pointer;
		background: no-repeat center/56px url(../images/hfp_right_button.svg);
	}
}

/* New code section */

@media (min-width: 1200px) {
.delivery_stages_section {
	display: flex;
	flex-direction: column;
}

.delivery_stages_header {
	display: flex;
	flex-direction: column;
	margin: 70px auto 0;
}

.delivery_stages_header strong {
	display: flex;
	position: relative;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 90px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: capitalize;
	color: #D9D9D9;
	z-index: 2;
	margin-left: 10px;
	margin-top: 30px;
}

.delivery_stages_header h2 {
	display: flex;
	position: absolute;
	overflow: hidden;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 100px;
	line-height: 150px;
	text-align: center;
	letter-spacing: 0.2em;
	color: #303030;
	text-transform: uppercase;
}

.delivery_stages_header hr {
	height: 2px;
	width: 60px;
	background: #34C759;
	border: 0;
}

.delivery_stages {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.delivery_stage {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 24px;
	width: 207px;
	height: 158px;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	transition: 0.3s;
	animation-timing-function: ease-out;
}

.delivery_stage_title {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: -0.275px;
	text-transform: capitalize;
	color: #FFFFFF;
}

.delivery_stage hr {
	width: 56px;
	height: 2px;
	background: #34C759;
	border: 0;
	margin: 0;
}

.delivery_stage_content {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	color: rgba(255, 255, 255, 0.5);
}

.delivery_stage:hover {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 24px;
	width: 207px;
	height: 158px;
	background: #34C759;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}

.delivery_stage:hover .delivery_stage_title {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: -0.275px;
	text-transform: capitalize;
	color: #191919;
}

.delivery_stage:hover .delivery_stage_content {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	color: #191919;
}

.delivery_stage:hover hr {
	width: 56px;
	height: 2px;
	background: #191919;
}
}

@media (max-width: 1199px) {
	.delivery_stages_section {
		display: flex;
		flex-direction: column;
	}
	
	.delivery_stages_header {
		display: flex;
		position: relative;
		flex-direction: column;
		margin: 70px auto 0;
	}
	
	.delivery_stages_header strong {
		overflow: hidden;
		z-index: 2;
		text-transform: capitalize;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 300;
		font-size: 22px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: capitalize;
		color: #D9D9D9;
		margin: 25px auto 20px;
	}
	
	.delivery_stages_header h2 {
		position: absolute;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 60px;
		line-height: 80px;
		text-align: center;
		letter-spacing: 0.2em;
		color: #303030;
		text-transform: uppercase;
	}
	
	.delivery_stages_header hr {
		height: 2px;
		width: 60px;
		background: #34C759;
		border: 0;
	}
	
	.delivery_stages {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 40px;
	}
	
	.delivery_stage {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 24px;
		max-width: 300px;
		height: 158px;
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		margin: 10px auto 0;
	}
	
	.delivery_stage_title {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		letter-spacing: -0.275px;
		text-transform: capitalize;
		color: #FFFFFF;
	}
	
	.delivery_stage hr {
		width: 56px;
		height: 2px;
		background: #34C759;
		border: 0;
		margin: 0;
	}
	
	.delivery_stage_content {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: -0.1625px;
		color: rgba(255, 255, 255, 0.5);
	}
	
	.delivery_stage:hover {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 24px;
		width: 300px;
		height: 158px;
		background: #34C759;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		margin: 10px auto 0;
	}
	
	.delivery_stage:hover .delivery_stage_title {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		letter-spacing: -0.275px;
		text-transform: capitalize;
		color: #191919;
	}
	
	.delivery_stage:hover .delivery_stage_content {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: -0.1625px;
		color: #191919;
	}
	
	.delivery_stage:hover hr {
		width: 56px;
		height: 2px;
		background: #191919;
	}
}	

/* New code section */

@media (min-width: 1200px) {
#dishes_section {
	display: flex;
	flex-direction: column;
}

.dishes_header {
	display: flex;
	flex-direction: column;
	margin: 50px auto 0;
}

.dishes_header strong {
	display: flex;
	position: absolute;
	overflow: hidden;
	z-index: 2;
	text-transform: capitalize;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 90px;
	text-align: center;
	letter-spacing: 0.2em;
	color: #D9D9D9;
	margin-left: 25px;
	margin-top: 30px;
}

.dishes_header h2 {
	display: flex;
	position: relative;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 100px;
	line-height: 150px;
	letter-spacing: 0.2em;
	color: #303030;
	text-transform: uppercase;
}

.dishes_header hr {
	height: 2px;
	width: 60px;
	background: #34C759;
	border: 0;
}

.dish_today_wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 60px;
}

.dish_today {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 493px;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	margin-bottom: 30px;
}

.dish_today_img_1 {
	display: flex;
	flex-direction: row-reverse;
	width: 350px;
	height: 260px;
	background: no-repeat center/cover url(../images/dish_1.jpg);
	border-radius: 6px 6px 0 0;
	transition: 2s;
	animation-timing-function: ease-out;
}

.dish_today_img_2 {
	display: flex;
	flex-direction: row-reverse;
	width: 350px;
	height: 260px;
	background: no-repeat center/cover url(../images/dish_2.jpg);
	border-radius: 6px 6px 0 0;
	transition: 2s;
	animation-timing-function: ease-out;
}

.dish_today_img_3 {
	display: flex;
	flex-direction: row-reverse;
	width: 350px;
	height: 260px;
	background: no-repeat center/cover url(../images/dish_3.jpg);
	border-radius: 6px 6px 0 0;
	transition: 2s;
	animation-timing-function: ease-out;
}

.dish_today_img_4 {
	display: flex;
	flex-direction: row-reverse;
	width: 350px;
	height: 260px;
	background: no-repeat center/cover url(../images/dish_4.jpg);
	border-radius: 6px 6px 0 0;
	transition: 2s;
	animation-timing-function: ease-out;
}

.dish_today_img_5 {
	display: flex;
	flex-direction: row-reverse;
	width: 350px;
	height: 260px;
	background: no-repeat center/cover url(../images/dish_5.jpg);
	border-radius: 6px 6px 0 0;
	transition: 2s;
	animation-timing-function: ease-out;
}

.dish_today_img_6 {
	display: flex;
	flex-direction: row-reverse;
	width: 350px;
	height: 260px;
	background: no-repeat center/cover url(../images/dish_6.jpg);
	border-radius: 6px 6px 0 0;
	transition: 2s;
	animation-timing-function: ease-out;
}

.dish_today_button {
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	animation-timing-function: ease-out;
	-webkit-animation: in 1s;
}

.dish_today:hover .dish_today_button {
	display: flex;
	align-self: baseline;
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
	animation-timing-function: ease-out;
	-webkit-animation: out 1s;
	margin: 23px 23px 0 0;
}

.dish_today strong {
	display: flex;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 30px;
	color: #D9D9D9;
	margin: 30px 30px 0 30px;
}

.dish_today p {
	display: flex;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.15px;
	color: #A4A8B2;
	margin: 0 40px 0 30px;
}

.dish_today p span {
	display: flex;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	color: #85878C;
	margin-top: 20px;
}

.dish_today_footer {
	display: flex;
	align-items: center;
	margin: 30px 30px 0 30px;
}

.dish_rating {
	width: 120px;
	height: 30px;
}

.number_of_ratings {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 1.5px;
	color: #B3B3B3;
	flex-direction: row-reverse;
	margin: 10px;
}

.buy_dish_button {
	cursor: pointer;
	width: 100px;
	align-items: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
	background: #262626;
	border: 2px solid #303030;
	box-sizing: border-box;
	border-radius: 30px;
	margin-left: auto;
	transition: 0.3s;
	animation-timing-function: ease-out;
}

.buy_dish_button:hover {
	width: 100px;
	align-items: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #252525;
	background: #34C759;
	border: 2px solid #34C759;
	box-sizing: border-box;
	border-radius: 30px;
	margin-left: auto;
}

.buy_dish_button:focus {
	width: 100px;
	align-items: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #252525;
	background: #34C759;
	border: 2px solid #303030;
	box-sizing: border-box;
	border-radius: 30px;
	margin-left: auto;
	outline: none !important;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -165px;
  border: 4px solid #303030;
  border-radius: 6px;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background: #262626;
}

.form-container h3 {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 30px;
	color: #D9D9D9;
	text-align: center;
}

.form-container label {
	color: rgba(255, 255, 255, 0.5);
}

.form-container input[type=text], .form-container input[type=tel], .form-container input[type=text] {
  width: 90%;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1em;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 6px;
}

.form-container input[type=text]:focus, .form-container input[type=tel]:focus, .form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #34C759;
  color: #FFFFFF;
  padding: 16px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  outline: none !important;
}

.form-container .cancel {
  background-color: red;
  border: none;
  border-radius: 6px;
  outline: none !important;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
}

@media (max-width: 1199px) {
	#dishes_section {
		display: flex;
		flex-direction: column;
	}
	
	.dishes_header {
		display: flex;
		position: relative;
		flex-direction: column;
		margin: 50px auto 0;
	}
	
	.dishes_header strong {
		overflow: hidden;
		z-index: 2;
		text-transform: capitalize;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 300;
		font-size: 22px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: capitalize;
		color: #D9D9D9;
		margin: 25px auto 20px;
	}
	
	.dishes_header h2 {
		position: absolute;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 60px;
		line-height: 80px;
		text-align: center;
		letter-spacing: 0.2em;
		color: #303030;
		text-transform: uppercase;
	}
	
	.dishes_header hr {
		height: 2px;
		width: 60px;
		background: #34C759;
		border: 0;
	}
	
	.dish_today_wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 60px;
	}
	
	.dish_today {
		display: flex;
		flex-direction: column;
		max-width: 350px;
		height: 493px;
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		margin: 0 auto 30px;
	}
	
	.dish_today_img_1 {
		display: flex;
		flex-direction: row-reverse;
		height: 260px;
		background: no-repeat center/cover url(../images/dish_1.jpg);
		border-radius: 6px 6px 0 0;
	}
	
	.dish_today_img_2 {
		display: flex;
		flex-direction: row-reverse;
		height: 260px;
		background: no-repeat center/cover url(../images/dish_2.jpg);
		border-radius: 6px 6px 0 0;
	}
	
	.dish_today_img_3 {
		display: flex;
		flex-direction: row-reverse;
		height: 260px;
		background: no-repeat center/cover url(../images/dish_3.jpg);
		border-radius: 6px 6px 0 0;
	}
	
	.dish_today_img_4 {
		display: flex;
		flex-direction: row-reverse;
		height: 260px;
		background: no-repeat center/cover url(../images/dish_4.jpg);
		border-radius: 6px 6px 0 0;
	}
	
	.dish_today_img_5 {
		display: flex;
		flex-direction: row-reverse;
		height: 260px;
		background: no-repeat center/cover url(../images/dish_5.jpg);
		border-radius: 6px 6px 0 0;
	}
	
	.dish_today_img_6 {
		display: flex;
		flex-direction: row-reverse;
		width: 100%;
		height: 260px;
		background: no-repeat center/cover url(../images/dish_6.jpg);
		border-radius: 6px 6px 0 0;
	}
	
	.dish_today_button {
		display: none;
	}
	
	.dish_today:hover .dish_today_button {
		display: flex;
		align-self: baseline;
		margin: 23px 23px 0 0;
	}
	
	.dish_today strong {
		display: flex;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 30px;
		color: #D9D9D9;
		margin: 30px 30px 0 30px;
	}
	
	.dish_today p {
		display: flex;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: -0.15px;
		color: #A4A8B2;
		margin: 0 40px 0 30px;
	}
	
	.dish_today p span {
		display: flex;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: -0.1625px;
		color: #85878C;
		margin-top: 20px;
	}
	
	.dish_today_footer {
		display: flex;
		align-items: center;
		margin: 30px 0px 0 0px;
	}
	
	.dish_rating {
		width: 120px;
		height: 30px;
		margin-left: 30px;
	}
	
	.number_of_ratings {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 12px;
		line-height: 30px;
		letter-spacing: 1.5px;
		color: #B3B3B3;
		flex-direction: row-reverse;
		margin: 10px;
	}
	
	.buy_dish_button {
		cursor: pointer;
		width: 100px;
		align-items: center;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.5);
		background: #262626;
		border: 2px solid #303030;
		box-sizing: border-box;
		border-radius: 30px;
		margin-left: auto;
		margin-right: 10px;
	}
	
	.buy_dish_button:hover {
		width: 100px;
		align-items: center;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #252525;
		background: #34C759;
		border: 2px solid #34C759;
		box-sizing: border-box;
		border-radius: 30px;
		margin-left: auto;
	}
	
	.buy_dish_button:focus {
		width: 100px;
		align-items: center;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #252525;
		background: #34C759;
		border: 2px solid #303030;
		box-sizing: border-box;
		border-radius: 30px;
		margin-left: auto;
		
		outline: none !important;
		border-radius: 30px;
		border: 4px solid #303030;
	}

	/* The popup form - hidden by default */
	@media (max-height: 500px) and (max-width: 1199px) {
  .form-popup {
	display: none;
	position: fixed;
	height: 300px;
	border: 4px solid #303030;
	border-radius: 6px;
	z-index: 9;
	overflow-y: scroll;
  }
  }

  .form-popup {
	display: none;
	position: fixed;
	top: 5%;
	left: 50%;
	margin: 0 0 0 -165px;
	border: 4px solid #303030;
	border-radius: 6px;
	z-index: 9;
	overflow-y: scroll;
  }

  .form-container {
	max-width: 300px;
	padding: 10px;
	background: #262626;
	overflow-y: scroll;

  }
  
  .form-container h3 {
	  font-family: Helvetica Neue;
	  font-style: normal;
	  font-weight: 500;
	  font-size: 32px;
	  line-height: 30px;
	  color: #D9D9D9;
	  text-align: center;
  }
  
  .form-container label {
	  color: rgba(255, 255, 255, 0.5);
  }
  
  .form-container input[type=text], .form-container input[type=tel], .form-container input[type=text] {
	width: 90%;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.1em;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	border-radius: 6px;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=tel]:focus, .form-container input[type=text]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  .form-container .btn {
	background-color: #34C759;
	color: #FFFFFF;
	padding: 16px 20px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 20px;
	outline: none !important;
  }
  
  .form-container .cancel {
	background-color: red;
	border: none;
	border-radius: 6px;
	outline: none !important;
  }
  
  .form-container .btn:hover, .open-button:hover {
	opacity: 1;
  }  
}

/* New code section */

@media (min-width: 1200px) {
#chefs_section {
	display: flex;
	flex-direction: column;
}

.chefs_header {
	display: flex;
	flex-direction: column;
	margin: 70px auto 0;
}

.chefs_header strong {
	display: flex;
	position: absolute;
	overflow: hidden;
	z-index: 2;
	text-transform: capitalize;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 90px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: capitalize;
	color: #D9D9D9;
	margin-top: 30px;
}

.chefs_header h2 {
	display: flex;
	position: relative;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 100px;
	line-height: 150px;
	text-align: center;
	letter-spacing: 0.2em;
	color: #303030;
	text-transform: uppercase;
	margin-left: 30px;
}

.chefs_header hr {
	height: 2px;
	width: 60px;
	background: #34C759;
	border: 0;
}

.about_chef_wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.about_chef {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 154px;
}

.about_chef div {
	display: flex;
	height: 65px;
}

.about_chef_cold_avatar {
	width: 65px;
	height: 65px;
	background: no-repeat center/cover url(../images/avatar_cold.jpg);
	border-radius: 50%;
}

.about_chef_hot_avatar {
	width: 65px;
	height: 65px;
	background: no-repeat center/cover url(../images/avatar_hot.jpg);
	border-radius: 50%;
}

.about_chef_macro_avatar {
	width: 65px;
	height: 65px;
	background: no-repeat center/cover url(../images/avatar_macro.jpg);
	border-radius: 50%;
}

.about_chef_description {
	display: flex;
	flex-direction: column;
	margin: 15px 0 0 25px;
}

.about_chef_name {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.225px;
	color: #FFFFFF;
}

.about_chef_type {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 25px;
	letter-spacing: -0.15px;
	color: rgba(255, 255, 255, 0.5);
}

.about_chef_images {
	justify-content: space-between;
	margin-top: 25px;
}

.about_chef_cold_image_1 {
	display: flex;
	width: 160px;
	height: 65px;
	background: no-repeat center/cover url(../images/cold_image_1.jpg);
	border-radius: 2px;
}

.about_chef_cold_image_2 {
	display: flex;
	width: 65px;
	height: 65px;
	background: no-repeat center/cover url(../images/cold_image_2.jpg);
	border-radius: 2px;
}

.about_chef_cold_image_3 {
	display: flex;
	width: 65px;
	height: 65px;
	background: no-repeat center/cover url(../images/cold_image_3.jpg);
	border-radius: 2px;
}

.about_chef_hot_image_1 {
	display: flex;
	width: 160px;
	height: 65px;
	background: no-repeat center/cover url(../images/hot_image_1.jpg);
	border-radius: 2px;
}

.about_chef_hot_image_2 {
	display: flex;
	width: 65px;
	height: 65px;
	background: no-repeat center/cover url(../images/hot_image_2.jpg);
	border-radius: 2px;
}

.about_chef_hot_image_3 {
	display: flex;
	width: 65px;
	height: 65px;
	background: no-repeat center/cover url(../images/hot_image_3.jpg);
	border-radius: 2px;
}

.about_chef_macro_image_1 {
	display: flex;
	width: 160px;
	height: 65px;
	background: no-repeat center/cover url(../images/macro_image_1.jpg);
	border-radius: 2px;
}

.about_chef_macro_image_2 {
	display: flex;
	width: 65px;
	height: 65px;
	background: no-repeat center/cover url(../images/macro_image_2.jpg);
	border-radius: 2px;
}

.about_chef_macro_image_3 {
	display: flex;
	width: 65px;
	height: 65px;
	background: no-repeat center/cover url(../images/macro_image_3.jpg);
	border-radius: 2px;
}
}

@media (max-width: 1199px) {
	#chefs_section {
		display: flex;
		flex-direction: column;
	}
	
	.chefs_header {
		display: flex;
		position: relative;
		flex-direction: column;
		margin: 70px auto 0;
	}
	
	.chefs_header strong {
		overflow: hidden;
		z-index: 2;
		text-transform: capitalize;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 300;
		font-size: 22px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: capitalize;
		color: #D9D9D9;
		margin: 25px auto 20px;
	}
	
	.chefs_header h2 {
		position: absolute;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 60px;
		line-height: 80px;
		text-align: center;
		letter-spacing: 0.2em;
		color: #303030;
		text-transform: uppercase;
		margin-left: 20px;
	}
	
	.chefs_header hr {
		height: 2px;
		width: 60px;
		background: #34C759;
		border: 0;
	}
	
	.about_chef_wrap {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 50px auto 0;
	}
	
	.about_chef {
		display: flex;
		flex-direction: column;
		max-width: 350px;
		height: 154px;
		margin-top: 30px;
	}
	
	.about_chef div {
		display: flex;
		height: 65px;
	}
	
	.about_chef_cold_avatar {
		width: 65px;
		height: 65px;
		background: no-repeat center/cover url(../images/avatar_cold.jpg);
		border-radius: 50%;
	}
	
	.about_chef_hot_avatar {
		width: 65px;
		height: 65px;
		background: no-repeat center/cover url(../images/avatar_hot.jpg);
		border-radius: 50%;
	}
	
	.about_chef_macro_avatar {
		width: 65px;
		height: 65px;
		background: no-repeat center/cover url(../images/avatar_macro.jpg);
		border-radius: 50%;
	}
	
	.about_chef_description {
		display: flex;
		flex-direction: column;
		margin: 15px 0 0 25px;
	}
	
	.about_chef_name {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: -0.225px;
		color: #FFFFFF;
	}
	
	.about_chef_type {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 25px;
		letter-spacing: -0.15px;
		color: rgba(255, 255, 255, 0.5);
	}
	
	.about_chef_images {
		justify-content: space-between;
		margin-top: 10px;
	}
	
	.about_chef_cold_image_1 {
		display: flex;
		width: 160px;
		height: 65px;
		background: no-repeat center/cover url(../images/cold_image_1.jpg);
		border-radius: 2px;
	}
	
	.about_chef_cold_image_2 {
		display: flex;
		width: 65px;
		height: 65px;
		background: no-repeat center/cover url(../images/cold_image_2.jpg);
		border-radius: 2px;
		margin: 0 5px;
	}
	
	.about_chef_cold_image_3 {
		display: flex;
		width: 65px;
		height: 65px;
		background: no-repeat center/cover url(../images/cold_image_3.jpg);
		border-radius: 2px;
	}
	
	.about_chef_hot_image_1 {
		display: flex;
		width: 160px;
		height: 65px;
		background: no-repeat center/cover url(../images/hot_image_1.jpg);
		border-radius: 2px;
	}
	
	.about_chef_hot_image_2 {
		display: flex;
		width: 65px;
		height: 65px;
		background: no-repeat center/cover url(../images/hot_image_2.jpg);
		border-radius: 2px;
		margin: 0 5px;
	}
	
	.about_chef_hot_image_3 {
		display: flex;
		width: 65px;
		height: 65px;
		background: no-repeat center/cover url(../images/hot_image_3.jpg);
		border-radius: 2px;
	}
	
	.about_chef_macro_image_1 {
		display: flex;
		width: 160px;
		height: 65px;
		background: no-repeat center/cover url(../images/macro_image_1.jpg);
		border-radius: 2px;
	}
	
	.about_chef_macro_image_2 {
		display: flex;
		width: 65px;
		height: 65px;
		background: no-repeat center/cover url(../images/macro_image_2.jpg);
		border-radius: 2px;
		margin: 0 5px;
	}
	
	.about_chef_macro_image_3 {
		display: flex;
		width: 65px;
		height: 65px;
		background: no-repeat center/cover url(../images/macro_image_3.jpg);
		border-radius: 2px;
	}
}

/* New code section */

@media (min-width: 1200px) {
#recipes_section {
	display: flex;
	flex-direction: column;
}

.recipes_header {
	display: flex;
	flex-direction: column;
	margin: 70px auto 0;
}

.recipes_header strong {
	display: flex;
	position: absolute;
	overflow: hidden;
	z-index: 2;
	text-transform: capitalize;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 90px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: capitalize;
	color: #D9D9D9;
	margin-top: 30px;
}

.recipes_header h2 {
	display: flex;
	position: relative;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 100px;
	line-height: 150px;
	text-align: center;
	letter-spacing: 0.2em;
	color: #303030;
	text-transform: uppercase;
	margin-left: 30px;
}

.recipes_header hr {
	height: 2px;
	width: 60px;
	background: #34C759;
	border: 0;
}

.recipes_wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 80px;
}

.breakfast_recipe {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 540px;
	height: 510px;
	border-radius: 6px;
	background: no-repeat center/cover url(../images/current_recipe_background.png);
}

.open_breakfast_recipe {
	position: absolute;
	width: 40px;
	height: 40px;
	margin: 30px 0 0 470px;
}

.breakfast_recipe_header {
	position: relative;
	display: flex;
	justify-content: space-around;
	width: 90px;
	height: 25px;
	margin: 60px auto 25px;
}

.breakfast_recipe_header_bg {
	position: absolute;
	width: 90px;
	height: 25px;
	background: #000000;
	opacity: 0.3;
	border-radius: 4px;
}

.breakfast_recipe_header strong {
	position: absolute;
	display: flex;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.breakfast_recipe_description {
	flex-direction: column;
}

.breakfast_recipe_description p {
	display: flex;
	justify-content: space-around;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	color: #FFFFFF;
	margin-top: 45px;
}

.breakfast_recipe_description span {
	display: flex;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	margin: 25px 55px 0;
}

.breakfast_recipe_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 139px;
	height: 30px;
	margin: 50px auto 0;
}

.breakfast_recipe_info_views {
	width: 22px;
	height: 16px;
	background: url(../images/viewers_icon.svg);
}

#breakfast_recipe_info_views_number {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #FFFFFF;
}

.breakfast_recipe_info_comments {
	width: 20px;
	height: 20px;
	background: url(../images/comments_icon.svg);
	margin-left: 20px;
}

#breakfast_recipe_info_comments_number {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #FFFFFF;
}





.recipes {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 540px;
	height: 510px;
}

.lunch_recipe_preview {
	display: flex;
	flex-direction: column;
	height: 150px;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	transition: 0.3s;
	animation-timing-function: ease-out;
}

.lunch_recipe_preview_description {
	display: flex;
	width: 500px;
	height: 60px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	margin: 30px 30px 0 30px;
}

.lunch_recipe_preview_data {
	display: flex;
	flex-direction: row;
}

.lunch_recipe_preview_header {
	display: flex;
	justify-content: space-around;
	width: 65px;
	height: 25px;
	background: #000000;
	mix-blend-mode: normal;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 10px 0 0 30px;
}

.lunch_recipe_preview_date {
	display: flex;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: #B3B3B3;
	margin: 10px 0 0 15px;
}

.lunch_recipe_info_views_number {
	display: flex;
	flex-direction: row-reverse;
	width: 61px;
	height: 30px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #FFFFFF;
	background: no-repeat left url(../images/viewers_icon.svg);
	margin: 10px 0 0 200px;
}

.lunch_recipe_info_comments_number {
	display: flex;
	flex-direction: row-reverse;
	width: 54px;
	height: 30px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #FFFFFF;
	background: no-repeat left url(../images/comments_icon.svg);
	margin: 10px 20px 0 24px;
}

.lunch_recipe_preview:hover {
	display: flex;
	flex-direction: column;
	height: 150px;
	background: #34C759;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
}

.lunch_recipe_preview:hover .lunch_recipe_preview_description {
	display: flex;
	width: 500px;
	height: 60px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #252525;
	margin: 30px 30px 0 30px;
}

.lunch_recipe_preview:hover .lunch_recipe_preview_data {
	display: flex;
	flex-direction: row;
}

.lunch_recipe_preview:hover .lunch_recipe_preview_header {
	display: flex;
	justify-content: space-around;
	width: 65px;
	height: 25px;
	background: #000000;
	mix-blend-mode: normal;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 10px 0 0 30px;
}

.lunch_recipe_preview:hover .lunch_recipe_preview_date {
	display: flex;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: #1A1A1A;
	margin: 10px 0 0 15px;
}

.lunch_recipe_preview:hover .lunch_recipe_info_views_number {
	display: flex;
	flex-direction: row-reverse;
	width: 61px;
	height: 30px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;	
	color: #1A1A1A;
	background: no-repeat left url(../images/viewers_icon_hover.svg);
	margin: 10px 0 0 200px;
}

.lunch_recipe_preview:hover .lunch_recipe_info_comments_number {
	display: flex;
	flex-direction: row-reverse;
	width: 54px;
	height: 30px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #1A1A1A;
	background: no-repeat left url(../images/comments_icon_hover.svg);
	margin: 10px 20px 0 24px;
}






.dinner_recipe_preview {
	display: flex;
	flex-direction: column;
	height: 150px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/dinner_recipe_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	transition: 0.3s;
	animation-timing-function: ease-out;
}

.dinner_recipe_preview_description {
	display: flex;
	width: 500px;
	height: 60px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	margin: 30px 30px 0 30px;
}

.dinner_recipe_preview_data {
	display: flex;
	flex-direction: row;
	position: relative;
}

.dinner_recipe_preview_header {
	display: flex;
	justify-content: space-around;
	width: 65px;
	height: 25px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 10px 0 0 30px;
	z-index: 3;
}

.dinner_recipe_preview_header_bg {
	position: absolute;
	width: 65px;
	height: 25px;
	background: #000000;
	opacity: 0.3;
	margin: 10px 0 0 30px;
	z-index: 2;
}

.dinner_recipe_preview_date {
	display: flex;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: #B3B3B3;
	margin: 10px 0 0 15px;
}

.dinner_recipe_info_views_number {
	display: flex;
	flex-direction: row-reverse;
	width: 61px;
	height: 30px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #FFFFFF;
	background: no-repeat left url(../images/viewers_icon.svg);
	margin: 10px 0 0 200px;
}

.dinner_recipe_info_comments_number {
	display: flex;
	flex-direction: row-reverse;
	width: 54px;
	height: 30px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #FFFFFF;
	background: no-repeat left url(../images/comments_icon.svg);
	margin: 10px 20px 0 24px;
}

.dinner_recipe_preview:hover {
	display: flex;
	flex-direction: column;
	height: 150px;
	background: #34C759;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
}

.dinner_recipe_preview:hover .dinner_recipe_preview_description {
	display: flex;
	width: 500px;
	height: 60px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #252525;
	margin: 30px 30px 0 30px;
}

.dinner_recipe_preview:hover .dinner_recipe_preview_data {
	display: flex;
	flex-direction: row;
}

.dinner_recipe_preview:hover .dinner_recipe_preview_header {
	display: flex;
	justify-content: space-around;
	width: 65px;
	height: 25px;
	background: #000000;
	mix-blend-mode: normal;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 10px 0 0 30px;
}

.dinner_recipe_preview:hover .dinner_recipe_preview_date {
	display: flex;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: #1A1A1A;
	margin: 10px 0 0 15px;
}

.dinner_recipe_preview:hover .dinner_recipe_info_views_number {
	display: flex;
	flex-direction: row-reverse;
	width: 61px;
	height: 30px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;	
	color: #1A1A1A;
	background: no-repeat left url(../images/viewers_icon_hover.svg);
	margin: 10px 0 0 200px;
}

.dinner_recipe_preview:hover .dinner_recipe_info_comments_number {
	display: flex;
	flex-direction: row-reverse;
	width: 54px;
	height: 30px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #1A1A1A;
	background: no-repeat left url(../images/comments_icon_hover.svg);
	margin: 10px 20px 0 24px;
}

.sweets_recipe_preview {
	display: flex;
	flex-direction: column;
	height: 150px;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	transition: 0.3s;
	animation-timing-function: ease-out;
}

.sweets_recipe_preview_description {
	display: flex;
	width: 500px;
	height: 60px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	margin: 30px 30px 0 30px;
}

.sweets_recipe_preview_data {
	display: flex;
	flex-direction: row;
}

.sweets_recipe_preview_header {
	display: flex;
	justify-content: space-around;
	width: 65px;
	height: 25px;
	background: #000000;
	mix-blend-mode: normal;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 10px 0 0 30px;
}

.sweets_recipe_preview_date {
	display: flex;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: #B3B3B3;
	margin: 10px 0 0 15px;
}

.sweets_recipe_info_views_number {
	display: flex;
	flex-direction: row-reverse;
	width: 61px;
	height: 30px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #FFFFFF;
	background: no-repeat left url(../images/viewers_icon.svg);
	margin: 10px 0 0 200px;
}

.sweets_recipe_info_comments_number {
	display: flex;
	flex-direction: row-reverse;
	width: 54px;
	height: 30px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #FFFFFF;
	background: no-repeat left url(../images/comments_icon.svg);
	margin: 10px 20px 0 24px;
}

.sweets_recipe_preview:hover {
	display: flex;
	flex-direction: column;
	height: 150px;
	background: #34C759;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
}

.sweets_recipe_preview:hover .sweets_recipe_preview_description {
	display: flex;
	width: 500px;
	height: 60px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #252525;
	margin: 30px 30px 0 30px;
}

.sweets_recipe_preview:hover .sweets_recipe_preview_data {
	display: flex;
	flex-direction: row;
}

.sweets_recipe_preview:hover .sweets_recipe_preview_header {
	display: flex;
	justify-content: space-around;
	width: 65px;
	height: 25px;
	background: #000000;
	mix-blend-mode: normal;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 10px 0 0 30px;
}

.sweets_recipe_preview:hover .sweets_recipe_preview_date {
	display: flex;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: #1A1A1A;
	margin: 10px 0 0 15px;
}

.sweets_recipe_preview:hover .sweets_recipe_info_views_number {
	display: flex;
	flex-direction: row-reverse;
	width: 61px;
	height: 30px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;	
	color: #1A1A1A;
	background: no-repeat left url(../images/viewers_icon_hover.svg);
	margin: 10px 0 0 200px;
}

.sweets_recipe_preview:hover .sweets_recipe_info_comments_number {
	display: flex;
	flex-direction: row-reverse;
	width: 54px;
	height: 30px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #1A1A1A;
	background: no-repeat left url(../images/comments_icon_hover.svg);
	margin: 10px 20px 0 24px;
}
}

@media (max-width: 1199px) {
	#recipes_section {
		display: flex;
		flex-direction: column;
	}
	
	.recipes_header {
		display: flex;
		position: relative;
		flex-direction: column;
		margin: 70px auto 0;
	}
	
	.recipes_header strong {
		overflow: hidden;
		z-index: 2;
		text-transform: capitalize;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 300;
		font-size: 22px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: capitalize;
		color: #D9D9D9;
		margin: 25px 0 20px;
	}
	
	.recipes_header h2 {
		position: absolute;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 60px;
		line-height: 80px;
		text-align: center;
		letter-spacing: 0.2em;
		color: #303030;
		text-transform: uppercase;
		margin-left: 20px;
	}
	
	.recipes_header hr {
		height: 2px;
		width: 60px;
		background: #34C759;
		border: 0;
	}
	
	.recipes_wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 20px;
	}
	
	.breakfast_recipe {
		position: relative;
		display: flex;
		flex-direction: column;
		max-width: 350px;
		height: 410px;
		border-radius: 6px;
		background: no-repeat center/cover url(../images/current_recipe_background.png);
		margin: 0 auto;
	}
	
	.open_breakfast_recipe {
		position: absolute;
		width: 40px;
		height: 40px;
		margin: 30px 0 0 30px;
	}
	
	.breakfast_recipe_header {
		position: relative;
		display: flex;
		justify-content: space-around;
		width: 90px;
		height: 25px;
		margin: 60px auto 25px;
	}
	
	.breakfast_recipe_header_bg {
		position: absolute;
		width: 90px;
		height: 25px;
		background: #000000;
		opacity: 0.3;
		border-radius: 4px;
	}
	
	.breakfast_recipe_header strong {
		position: absolute;
		display: flex;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	
	.breakfast_recipe_description {
		flex-direction: column;
	}
	
	.breakfast_recipe_description p {
		display: flex;
		justify-content: space-around;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 30px;
		color: #FFFFFF;
		margin-top: 25px;
	}
	
	.breakfast_recipe_description span {
		display: flex;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 40px;
		text-align: center;
		color: #FFFFFF;
		margin: 5px 55px 0;
	}
	
	.breakfast_recipe_info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 139px;
		height: 30px;
		margin: 10px auto 0;
	}
	
	.breakfast_recipe_info_views {
		width: 22px;
		height: 16px;
		background: url(../images/viewers_icon.svg);
	}
	
	#breakfast_recipe_info_views_number {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #FFFFFF;
	}
	
	.breakfast_recipe_info_comments {
		width: 20px;
		height: 20px;
		background: url(../images/comments_icon.svg);
		margin-left: 20px;
	}
	
	#breakfast_recipe_info_comments_number {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #FFFFFF;
	}
	
	
	
	.recipes {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		max-width: 350px;
		margin: 0 auto;
	}
	
	.lunch_recipe_preview {
		display: flex;
		flex-direction: column;
		height: 150px;
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		margin: 20px auto 0;
	}
	
	.lunch_recipe_preview_description {
		display: flex;
		max-width: 500px;
		height: 60px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #FFFFFF;
		margin: 30px 30px 0 30px;
	}
	
	.lunch_recipe_preview_data {
		display: flex;
		flex-direction: row;
	}
	
	.lunch_recipe_preview_header {
		display: flex;
		justify-content: space-around;
		width: 65px;
		height: 25px;
		background: #000000;
		mix-blend-mode: normal;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 10px 0 0 30px;
	}
	
	.lunch_recipe_preview_date {
		display: flex;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 25px;
		color: #B3B3B3;
		margin: 10px 0 0 15px;
	}
	
	.lunch_recipe_info_views_number {
		display: flex;
		flex-direction: row-reverse;
		width: 61px;
		height: 30px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #FFFFFF;
		background: no-repeat left url(../images/viewers_icon.svg);
		margin: 10px 0 0 20px;
	}
	
	.lunch_recipe_info_comments_number {
		display: flex;
		flex-direction: row-reverse;
		width: 54px;
		height: 30px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #FFFFFF;
		background: no-repeat left url(../images/comments_icon.svg);
		margin: 10px 10px 0 24px;
	}
	
	.lunch_recipe_preview:hover {
		display: flex;
		flex-direction: column;
		height: 150px;
		background: #34C759;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
		border-radius: 6px;
	}
	
	.lunch_recipe_preview:hover .lunch_recipe_preview_description {
		display: flex;
		height: 60px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 30px;
		color: #252525;
		margin: 30px 30px 0 30px;
	}
	
	.lunch_recipe_preview:hover .lunch_recipe_preview_data {
		display: flex;
		flex-direction: row;
	}
	
	.lunch_recipe_preview:hover .lunch_recipe_preview_header {
		display: flex;
		justify-content: space-around;
		width: 65px;
		height: 25px;
		background: #000000;
		mix-blend-mode: normal;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 10px 0 0 30px;
	}
	
	.lunch_recipe_preview:hover .lunch_recipe_preview_date {
		display: flex;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 25px;
		color: #1A1A1A;
		margin: 10px 0 0 15px;
	}
	
	.lunch_recipe_preview:hover .lunch_recipe_info_views_number {
		display: flex;
		flex-direction: row-reverse;
		width: 61px;
		height: 30px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;	
		color: #1A1A1A;
		background: no-repeat left url(../images/viewers_icon_hover.svg);
		margin: 10px 0 0 20px;
	}
	
	.lunch_recipe_preview:hover .lunch_recipe_info_comments_number {
		display: flex;
		flex-direction: row-reverse;
		width: 54px;
		height: 30px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #1A1A1A;
		background: no-repeat left url(../images/comments_icon_hover.svg);
		margin: 10px 20px 0 24px;
	}
	
	
	
	.dinner_recipe_preview {
		display: flex;
		flex-direction: column;
		height: 150px;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/dinner_recipe_bg.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		margin-top: 20px;
	}
	
	.dinner_recipe_preview_description {
		display: flex;
		max-width: 500px;
		height: 60px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #FFFFFF;
		margin: 30px 30px 0 30px;
	}
	
	.dinner_recipe_preview_data {
		display: flex;
		flex-direction: row;
		position: relative;
	}
	
	.dinner_recipe_preview_header {
		display: flex;
		justify-content: space-around;
		width: 65px;
		height: 25px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 10px 0 0 30px;
		z-index: 3;
	}
	
	.dinner_recipe_preview_header_bg {
		position: absolute;
		width: 65px;
		height: 25px;
		background: #000000;
		opacity: 0.3;
		margin: 10px 0 0 30px;
		z-index: 2;
	}
	
	.dinner_recipe_preview_date {
		display: flex;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 25px;
		color: #B3B3B3;
		margin: 10px 0 0 15px;
	}
	
	.dinner_recipe_info_views_number {
		display: flex;
		flex-direction: row-reverse;
		width: 61px;
		height: 30px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #FFFFFF;
		background: no-repeat left url(../images/viewers_icon.svg);
		margin: 10px 0 0 20px;
	}
	
	.dinner_recipe_info_comments_number {
		display: flex;
		flex-direction: row-reverse;
		width: 54px;
		height: 30px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #FFFFFF;
		background: no-repeat left url(../images/comments_icon.svg);
		margin: 10px 10px 0 24px;
	}
	
	.dinner_recipe_preview:hover {
		display: flex;
		flex-direction: column;
		height: 150px;
		background: #34C759;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
		border-radius: 6px;
	}
	
	.dinner_recipe_preview:hover .dinner_recipe_preview_description {
		display: flex;
		height: 60px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 30px;
		color: #252525;
		margin: 30px 30px 0 30px;
	}
	
	.dinner_recipe_preview:hover .dinner_recipe_preview_data {
		display: flex;
		flex-direction: row;
	}
	
	.dinner_recipe_preview:hover .dinner_recipe_preview_header {
		display: flex;
		justify-content: space-around;
		width: 65px;
		height: 25px;
		background: #000000;
		mix-blend-mode: normal;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 10px 0 0 30px;
	}
	
	.dinner_recipe_preview:hover .dinner_recipe_preview_date {
		display: flex;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 25px;
		color: #1A1A1A;
		margin: 10px 0 0 15px;
	}
	
	.dinner_recipe_preview:hover .dinner_recipe_info_views_number {
		display: flex;
		flex-direction: row-reverse;
		width: 61px;
		height: 30px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;	
		color: #1A1A1A;
		background: no-repeat left url(../images/viewers_icon_hover.svg);
		margin: 10px 0 0 20px;
	}
	
	.dinner_recipe_preview:hover .dinner_recipe_info_comments_number {
		display: flex;
		flex-direction: row-reverse;
		width: 54px;
		height: 30px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #1A1A1A;
		background: no-repeat left url(../images/comments_icon_hover.svg);
		margin: 10px 20px 0 24px;
	}
	
	
	
	.sweets_recipe_preview {
		display: flex;
		flex-direction: column;
		height: 150px;
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		margin-top: 20px;
	}
	
	.sweets_recipe_preview_description {
		display: flex;
		max-width: 500px;
		height: 60px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #FFFFFF;
		margin: 30px 30px 0 30px;
	}
	
	.sweets_recipe_preview_data {
		display: flex;
		flex-direction: row;
	}
	
	.sweets_recipe_preview_header {
		display: flex;
		justify-content: space-around;
		width: 65px;
		height: 25px;
		background: #000000;
		mix-blend-mode: normal;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 10px 0 0 30px;
	}
	
	.sweets_recipe_preview_date {
		display: flex;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 25px;
		color: #B3B3B3;
		margin: 10px 0 0 15px;
	}
	
	.sweets_recipe_info_views_number {
		display: flex;
		flex-direction: row-reverse;
		width: 61px;
		height: 30px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #FFFFFF;
		background: no-repeat left url(../images/viewers_icon.svg);
		margin: 10px 0 0 20px;
	}
	
	.sweets_recipe_info_comments_number {
		display: flex;
		flex-direction: row-reverse;
		width: 54px;
		height: 30px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #FFFFFF;
		background: no-repeat left url(../images/comments_icon.svg);
		margin: 10px 10px 0 24px;
	}
	
	.sweets_recipe_preview:hover {
		display: flex;
		flex-direction: column;
		height: 150px;
		background: #34C759;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
		border-radius: 6px;
	}
	
	.sweets_recipe_preview:hover .sweets_recipe_preview_description {
		display: flex;
		height: 60px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 30px;
		color: #252525;
		margin: 30px 30px 0 30px;
	}
	
	.sweets_recipe_preview:hover .sweets_recipe_preview_data {
		display: flex;
		flex-direction: row;
	}
	
	.sweets_recipe_preview:hover .sweets_recipe_preview_header {
		display: flex;
		justify-content: space-around;
		width: 65px;
		height: 25px;
		background: #000000;
		mix-blend-mode: normal;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 10px 0 0 30px;
	}
	
	.sweets_recipe_preview:hover .sweets_recipe_preview_date {
		display: flex;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 25px;
		color: #1A1A1A;
		margin: 10px 0 0 15px;
	}
	
	.sweets_recipe_preview:hover .sweets_recipe_info_views_number {
		display: flex;
		flex-direction: row-reverse;
		width: 61px;
		height: 30px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;	
		color: #1A1A1A;
		background: no-repeat left url(../images/viewers_icon_hover.svg);
		margin: 10px 0 0 20px;
	}
	
	.sweets_recipe_preview:hover .sweets_recipe_info_comments_number {
		display: flex;
		flex-direction: row-reverse;
		width: 54px;
		height: 30px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #1A1A1A;
		background: no-repeat left url(../images/comments_icon_hover.svg);
		margin: 10px 20px 0 24px;
	}
}

/* New code section */

@media (min-width: 1200px) {
.social_section {
	display: flex;
	flex-direction: column;
}

.social_header {
	display: flex;
	flex-direction: column;
	margin: 130px auto 0;
}

.social_header strong {
	display: flex;
	position: absolute;
	overflow: hidden;
	z-index: 2;
	text-transform: capitalize;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 90px;
	text-align: center;
	letter-spacing: 0.2em;
	color: #D9D9D9;
	margin: 30px 0 0 95px;
}

.social_header h2 {
	display: flex;
	position: relative;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 100px;
	line-height: 150px;
	letter-spacing: 0.2em;
	color: #303030;
	text-transform: uppercase;
	margin-left: 30px;
}

.social_header hr {
	height: 2px;
	width: 60px;
	background: #34C759;
	border: 0;
}

.social_wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 80px;
}

.social_container {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 330px;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	}

.social_container_header {
	display: flex;
	height: 65px;
	margin: 25px 25px 0 25px;
}

.social_container_header img {
	display: flex;
	width: 28px;
	height: 28px;
	background: #262626;
	border: 2px solid #303030;
	border-radius: 50%;
	margin-top: 5px;
}

.social_container_header p {
	width: 106px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	color: #BFBFBF;
	margin: 5px 0 0 20px;
}

.social_container_header a {
	width: 100px;
	height: 40px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #737373;
	background: #262626;
	border: 2px solid #303030;
	border-radius: 30px;
	text-decoration: none;
	transition: 0.3s;
	animation-timing-function: ease-out;
	-webkit-animation: in 1s;
	margin-left: 34px;
}

.social_container_header a:hover {
	width: 100px;
	height: 40px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #252525;
	background: #34C759;
	border: 2px solid #34C759;
	border-radius: 30px;
	text-decoration: none;
	transition: 0.3s;
	animation-timing-function: ease-out;
	-webkit-animation: out 1s;
	margin-left: 34px;
}

.social_container hr {
	display: flex;
	width: 350px;
	height: 2px;
	background: #303030;
	border: 0;
	margin: 0;
}

.social_twitter_content {
	padding: 20px 40px 20px 30px;
}

.social_twitter_content_date {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	color: #737373;
}

.social_twitter_content_message {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.7);
	margin: 10px auto;	
}

.social_twitter_content_author {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	color: #34C759;

}

.social_instagram_content {
	width: 350px;
	height: 239px;
	background-image: url(../images/instagram_img_1.jpg), url(../images/instagram_img_2.jpg), url(../images/instagram_img_3.jpg), url(../images/instagram_img_4.jpg), url(../images/instagram_img_5.jpg), url(../images/instagram_img_6.jpg);
	background-repeat: no-repeat;
	background-position: top left, top center, top right, bottom left, bottom center, bottom right;
}

.social_instagram_content a {
	opacity: 0;
	visibility: hidden;
}


.social_instagram_content:hover a {
	display: flex;
	width: 40px;
	height: 40px;
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
	animation-timing-function: ease-out;
	margin: 40px auto 0;
}

.social_facebook_content {
	padding: 20px 40px 20px 30px;
}

.social_facebook_content_date {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	color: #737373;
}

.social_facebook_content_message {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.7);
	margin: 10px auto;	
}
}

@media (max-width: 1199px) {
	.social_section {
		display: flex;
		flex-direction: column;
	}
	
	.social_header {
		display: flex;
		flex-direction: column;
		margin: 80px auto 0;
	}
	
	.social_header strong {
		position: absolute;
		overflow: hidden;
		z-index: 2;
		text-transform: capitalize;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 300;
		font-size: 22px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: capitalize;
		color: #D9D9D9;
		margin: 25px 0 0 35px;
	}
	
	.social_header h2 {
		position: relative;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 60px;
		line-height: 80px;
		text-align: center;
		letter-spacing: 0.2em;
		color: #303030;
		text-transform: uppercase;
	}
	
	.social_header hr {
		height: 2px;
		width: 60px;
		background: #34C759;
		border: 0;
	}
	
	.social_wrap {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 10px auto 0;
	}
	
	.social_container {
		display: flex;
		flex-direction: column;
		max-width: 350px;
		height: 330px;
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		margin-top: 20px;
	}
	
	.social_container_header {
		display: flex;
		height: 65px;
		margin: 25px 15px 0 15px;
	}
	
	.social_container_header img {
		display: flex;
		width: 28px;
		height: 28px;
		background: #262626;
		border: 2px solid #303030;
		border-radius: 50%;
		margin-top: 5px;
	}
	
	.social_container_header p {
		width: 106px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 30px;
		color: #BFBFBF;
		margin: 5px 0 0 10px;
	}
	
	.social_container_header a {
		min-width: 100px;
		height: 40px;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 40px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #737373;
		background: #262626;
		border: 2px solid #303030;
		border-radius: 30px;
		text-decoration: none;
		margin-left: 14px;
	}
	
	.social_container hr {
		display: flex;
		width: 100%;
		height: 2px;
		background: #303030;
		border: 0;
		margin: 0;
	}
	
	.social_twitter_content {
		padding: 20px 30px 20px 30px;
	}
	
	.social_twitter_content_date {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 30px;
		color: #737373;
	}
	
	.social_twitter_content_message {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 30px;
		color: rgba(255, 255, 255, 0.7);
		margin: 10px auto;	
	}
	
	.social_twitter_content_author {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 30px;
		color: #34C759;
	
	}
	
	.social_instagram_content {
		height: 239px;
		background-image: url(../images/instagram_img_1.jpg), url(../images/instagram_img_2.jpg), url(../images/instagram_img_3.jpg), url(../images/instagram_img_4.jpg), url(../images/instagram_img_5.jpg), url(../images/instagram_img_6.jpg);
		background-repeat: no-repeat;
		background-position: top left, top center, top right, bottom left, bottom center, bottom right;
	}
	
	.social_instagram_content a {
		display: none;
	}
	
	
	.social_instagram_content:hover a {
		display: flex;
		width: 40px;
		height: 40px;
		margin: 40px auto 0;
	}
	
	.social_facebook_content {
		padding: 20px 30px 20px 30px;
	}
	
	.social_facebook_content_date {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 30px;
		color: #737373;
	}
	
	.social_facebook_content_message {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 30px;
		color: rgba(255, 255, 255, 0.7);
		margin: 10px auto;	
	}
}

/* New code section */

@media (min-width: 1200px) {
footer {
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	margin-top: 120px;
}

#footer_communication {
	display: flex;
	justify-content: space-around;
}

#footer_communication .communication_children {
	margin-top: 30px;
}

footer hr {
	height: 2px;
	width: 100%;
	background: #303030;
	border: 0;
	margin-top: 30px;
}

footer .logo {
	display: flex;
	margin: 32px auto 0;
}

.copyright {
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 60px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #737373;
	justify-content: space-around;
}
}

@media (max-width: 1199px) {
	footer {
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		margin-top: 120px;
	}
	
	#footer_communication {
		display: flex;
		justify-content: space-around;
	}
	
	#footer_communication .communication_children {
		margin-top: 30px;
	}
	
	@media (max-width: 635px) {
		#footer_communication {
			display: flex;
			margin-top: 100px;
			flex-direction: column;
			margin: 20px auto 0;
		}
		
		.communication_children {
			display: flex;
			width: 245px;
			flex-direction: column;
			align-items: center;
			margin: 40px auto 0;
		}
		
		.communication_children strong {
			font-family: Helvetica Neue;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 30px;
			text-align: center;
			color: #FFFFFF;
			margin-top: 18px;
		}
	}
	
	footer hr {
		height: 2px;
		width: 100%;
		background: #303030;
		border: 0;
		margin-top: 30px;
	}
	
	footer .logo {
		display: flex;
		margin: 32px auto 0;
	}
	
	.copyright {
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 60px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #737373;
		justify-content: space-around;
	}
}
